div.clientes {
  overflow-x: hidden;

  background-color: white;
  border-radius: 4px;
  min-height: 80vh;
  padding: 2em;
  margin: 2em;
}

.title {
  background-color: red;
}
/* Titulo */
.containerTitulo{
  display: flex;
  justify-content: center;
}
.titulo{
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
}
/* Alinhar botoes*/
.alinhar{
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-end;
}
.botao{
  padding-top: 25px;
}
.rotulo{
  margin-bottom: 0;
}
