.cabecalho {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;

  margin-bottom: 1em;
}

.cadastro-produtos h1 {
  text-transform: uppercase;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
}

.cadastro-produtos .listar {
  box-shadow: 0 1px 4px #bdc3c7;
  background-color: #f1c40f;
  border-radius: 2px;
  border: none;

  padding: .25em .5em .25em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
  color: white;
}

.cadastro-produtos .form {
  justify-content: center;
  display: flex;
}

.cadastro-produtos form { width: 70%; }

.cadastro-produtos .row > .col {
  flex-direction: column;
  display: flex;
  
  margin-bottom: 1em;
}

.cadastro-produtos input[type='submit'] {
  border: none;
  
  background-color: #2ecc71;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  
  border-radius: .25em;
  height: 3.5em;
}