aside div.menu {
  min-width: 20vw;
  
  align-items: center;
  display: flex;
  
  background-color: hsl(6, 78%, 57%);

  margin-bottom: 2em;
  
  height: 4em;
}

aside div.menu .fa-bars {
  font-size: x-large;
  
  cursor: pointer;
  color: white;
  
  padding-right: 1em;
  padding-left: 1em;
}

aside {
  width: 16em;
  
  background-color: white;
  overflow-x: hidden;
  transition: .5s;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

aside a {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

aside a:hover {
  color: #333;
}

aside a.rota-atual li {
  border-left: .25em solid hsl(6, 78%, 57%);
}

aside a.rota-atual li i,
aside a.rota-atual li span {
  color: hsl(6, 78%, 57%);
}

aside li {
  border-left: .25em solid white;

  align-items: center;
  display: flex;
  
  padding-right: 8em;
  padding-left: 1em;
  
  height: 4em;
}

aside i {
  padding-right: 1em;
}

aside a,
aside i {
  color: hsl(0, 0%, 30%);
}