.size-padding-modal-visualisar{
    padding: 0.15em !important;
    padding-left: 0.5em !important;
}

.modal-header-cadastrar-background{ 
    background-color: #60CA52 !important;
    color: white
}

.modal-header-background{
    color: white !important;
    font-size: 1.1em;
    font-weight: bold !important;
}

.text-mensagem-visualisar{
    font-size: 1em;
    color: black;
    padding: 20px 30px !important;
    font-weight: 400;
}

.barra-de-rolagem{
    max-height: 28em;
    overflow: auto !important;
    padding: 2em !important;
}

.modal{
    overflow: hidden !important;
}

.footer-modal-default-system{
    padding: 0.5em !important;
    border: none !important
}

.autocomplete-format 
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] 
.MuiAutocomplete-input {
    padding: 0.05em 0.05em;
}
