.estoque > .crud {
  justify-content: center;
  display: flex;
}

.estoque tr { cursor: pointer; }

.estoque label { font-weight: bold; }

.estoque input::placeholder { color: darkgrey; }

.estoque tr.selecionada { background-color: #b2bec3 !important; }

.estoque button[type='submit'] {
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  float: right;
}