@import "./css/reset.css";
@import "./css/fontes.css";

html {
  background-color:hsl(192, 15%, 94%); 
  min-height: 100vh;
  
  -webkit-box-shadow: inset 0px 0px 140px -70px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: inset 0px 0px 140px -70px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 140px -70px rgba(0, 0, 0, 0.75);
}

body {
  background-color: transparent !important;
}

.App {
  transition: margin-left .5s;
  background: transparent;
  margin-left: 16em;
  
  font-family: "Roboto";
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.smooth-shadow {
  -webkit-box-shadow: inset 0px 0px 140px -70px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: inset 0px 0px 140px -70px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 140px -70px rgba(0, 0, 0, 0.75);
}

.container-main-fgtelecom {
  overflow-x: hidden;
  
  padding: 2em;
  min-height: 80vh;
  border-radius: 4px;
  background-color: white;
  
  margin: 1vw;
  margin-top: 4.75em;
}

.required-style{
  color: red;
  margin-left: 0.1em;
}

.none-style{
  display: none;
}

/* url('../../tmp/cursor-close-white.png') */
.modal{
  cursor: url('../src/tmp/cursor-close-white.png'), pointer;
}
.modal-content{
  cursor: auto
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.css-rciaot {
  position: fixed !important;
  z-index: 1000000000000000 !important;
  visibility: hidden;
}
