header {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  
  width: 100%;
  
  overflow-x: hidden;
  align-items: center;
  justify-content: space-between;

  display: flex !important;
  padding-top: .25em !important;
  padding-bottom: .25em !important;
  
  background-color: hsl(0, 0%, 20%);

  min-height: 4em;
}

header div.logo {
  flex-direction: row;
  align-items: center;
  display: flex;

  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bolder;
  line-height: 1.5;
  font-size: large;
  color: white;
}

header div.usuario {
  cursor: pointer;

  flex-direction: row;
  align-items: center;
  display: flex;

  padding-right: 1.5em;
}

header div.logo span {
  padding-left: 1em;
}

/* icones */

header .fa-bars {
  font-size: x-large;

  padding-left: 1em;
}

header img.perfil {
  border-radius: 1e9em; /* não é exagerado ÙwÚ */
  object-fit: contain;
  height: 2.75em;
  width: 2.75em;

  background-color: white;
  border: 4px solid white;

  margin-right: 0.25em;
}

header .fa-caret-down {
  font-size: x-large;
}

header .fa-bars,
header .fa-caret-down {
  cursor: pointer;
  color: white;
}
